@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gluten:slnt@-13&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sixtyfour&display=swap');

@font-face{
    src: url("../media/fonts/RubikBubbles-Regular.ttf")
    font-family: rubik bubbles;
}

@font-face{
    src: url("../media/fonts/Gluten-VariableFont_slnt\,wght.ttf")
    font-family: gluten;
}

@font-face{
    src: url("../media/fonts/media/fonts/Poppins-Regular.ttf")
    font-family: poppins;
}

.banner{
    width: 1000px;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 50px;
}

body{
    background-color: lightpink;
}

title{
    color: maroon;
}

h1{
    font-family: 'gluten', system-ui;
    color: maroon;
    font-size: 75px;
}

h2{
    font-family: 'rubik bubbles', system-ui;
    color: maroon;
    font-size: 100px;
}

h3{
    color: maroon;
}

text{
    color: maroon;
}

table{
    border: 1px solid rgb(9, 107, 42);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

td, th
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

img{
    border: 5px solid #0c9119;
  }

  td, th{
    border: 1px solid #08692b;
    text-align: left;
    padding: 8px;
    color: rgb(24, 7, 121);
  }

  p{
    font-family: 'poppins', system-ui;
    color: rgb(24, 7, 121);
}

audio{
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 20px;
}

ol{
    color: rgb(24, 7, 121);
}